In [53]:
"""1. Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).
Here, we have 1 followed by a space, operator followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid operator. The return value should be a number.
eval() is not allowed. In case of division, whenever the second number equals
&quot;0&quot; return -1."""

def arethmetic_operation(x):
    try:
        s = x.split(' ')
        l =[]
        for i in s:
            if i.isalnum():
                l.append(int(i))
            else:
                l.append(i)
        if l[1] == '*':
            return l[0] * l[2]
        if l[1] == '+':
            return l[0] + l[2] 
        if l[1] == '-':
            return l[0] - l[2]
        if l[1] == '//':
            if l[2] == 0:
                return -1
            else:
                return l[0]/l[2]
    except Exception as e:
        print(e)

In [54]:
arethmetic_operation('12 // 0')

-1

In [64]:
"""2. Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane."""
import math as md
def perimiter(x):
    try:
        z = []
        l = x[0] + x[1]
        l1 = x[1] + x[2]
        l2 = x[0] + x[2]
        s = md.sqrt((l[2]-l[0])**2+(l[3]-l[1])**2)
        s1 = md.sqrt((l1[2]-l1[0])**2+(l1[3]-l1[1])**2)
        s2 = md.sqrt((l2[2]-l2[0])**2+(l2[3]-l2[1])**2)
        z.append(s)
        z.append(s1)
        z.append(s2)
        return round(sum(z),2)
    except Exception as e:
        print(e)

In [65]:
perimiter([[15,7],[5,22],[11,1]])

47.08

In [68]:
perimiter([[-10,-10],[10,10],[-10,10]])

68.28

In [87]:
"""3. A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column)."""

def tallest_skyscrapers(x):
    try:
        count = 0
        for i in x:
            if 1 in i:
                count = count +1
        return count
    except Exception as e:
        print(e)

In [88]:
tallest_skyscrapers([[0,0,0,0],[0,0,0,0],[1,1,1,1],[1,1,1,0]])

2

In [100]:
"""4. A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:
Days Bonus
0 to 32 days Zero
33 to 40 days SGD$325 per billable day
41 to 48 days SGD$550 per billable day
Greater than 48 days SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:
32*0 + 8*325 + 5*550 = 5350
Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.
"""

def bonus(x):
    try:
        if type(x)==int:
            if x<=32:
                return 0
            elif x>=33 and x<=40:
                s = ( x-32)*325
                return s
            elif x>=41 and x<=48:
                s= 8*325 + (x-40)*550
                return s
            else:
                s = 8*325 + 8*550+(x-48)*600
                return s
    except Exception as e:
        print(e)

In [101]:
bonus(50)

8200

In [112]:
"""5. A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not."""

def check_disarium(x):

        try:
            x = str(x) 
            y =[]
            for i in x:
                y.append(int(i))
            b =[]
            count=1
            for j in y:
                a = j**count
                count += 1 
                b.append(a)
            s = sum(b)
            n = str(s)
            if n == x :
                print(True)
            else:
                print(False)
        except Exception as e:
            print(e)

In [113]:
check_disarium(518)

True